Pandas can read a variety of tabular data formats (example CSV)

More info, search for: Pandas IO

In [5]:
import numpy as np 
import pandas as pd

CSV: Comma Separated Values files are text files that use commas as field delimeters
<!-- Install xlrd and openpyxl  -->

In [11]:

df= pd.read_csv('C:/Users/thomtt10/Documents/PRACTICE_CODE/Pytorch_Udemy/Crash_Course/Pandas/example.csv')

In [12]:
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [15]:
new_df = df[['a','b']]

new_df

    a   b
0   0   1
1   4   5
2   8   9
3  12  13

In [18]:
new_df.to_csv('mynew.csv', index = False)
new_df

    a   b
0   0   1
1   4   5
2   8   9
3  12  13

In [20]:

df= pd.read_csv('C:/Users/thomtt10/Documents/PRACTICE_CODE/Pytorch_Udemy/Crash_Course/Pandas/mynew.csv')
df

    a   b
0   0   1
1   4   5
2   8   9
3  12  13

In [ ]:
# df = pd.read_excel('C:/Users/thomtt10/Documents/PRACTICE_CODE/Pytorch_Udemy/Crash_Course/Pandas/Excel_Sample.xlsx')
# df = pd.read_html('http://www.fdic.gov/bank/individual/failed/banklist.html')